* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  box-sizing: border-box;
}

body {
  display: flex;
  height: 100vh;
  margin: 0;
}

/* CSS for sidebar area */
.sidebar {
  flex: 1;
  background-image: url(https://images.unsplash.com/photo-1585202900225-6d3ac20a6962?q=80&w=1862&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.logo-area,
.photo-credit {
  color: #fff;
  text-align: center;
}

.logo-area {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: end;
}

.logo {
  display: flex;
  justify-content: center;
  height: 6rem;
  width: 100%;
  background-color: rgb(0 0 0 / 0.6);
}

.logo-img {
  margin: 0;
  height: auto;
  width: auto;
}

.logo-img > img {
  height: 100%;
  width: auto;
}

.logo-text > h1 {
  margin: 0;
  font-size: 4rem;
}

.photo-credit {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.photo-credit > p {
  font-size: 0.7rem;
}

.photo-credit a:link,
.photo-credit a:visited {
  color: #fff;
}

.photo-credit a:hover {
  text-decoration: none;
}

/* CSS for the form area */
.sign-up {
  flex: 2;
  display: flex;
  flex-direction: column;
}

.intro,
.sign-up-form,
.submit,
form {
  display: flex;
  flex-direction: column;
}

.intro,
.submit {
  flex: 1;
  background-color: lightgrey;
}

.intro {
  justify-content: center;
}

.intro-text {
  width: 55ch;
  padding-left: 2rem;
}

.intro-text > p,
.slogan {
  margin: 0;
  font-size: 1.125rem;
  font-weight: 700;
}

.sign-up-form {
  flex: 1;
  justify-content: center;
  background-color: #fff;
  padding-left: 2rem;
}

.slogan {
  margin-bottom: 1rem;
}

form {
  gap: 0.5rem;
}

form > div {
  display: flex;
  justify-content: left;
  gap: 2rem;
}

form > div > div {
  width: 40%;
  display: flex;
  flex-direction: column;
}

label {
  font-size: 0.75rem;
}

input {
  border-color: #E5E7EB;
  border-radius: 6px;
}

input:focus {
  border-color: blue;
  box-shadow: 5px 5px 5px grey;
}

input:valid {
  border-color: green;
}

input:invalid {
  border-color: red;
}

.error {
  color: red;
  font-size: 0.7rem;
}

/* CSS for the submit area */
.submit {
  align-items: flex-start;
  padding-left: 2rem;
}

.submit > button {
  margin-top: 1.5rem;
  padding: 6px 40px;
  background-color: #596D48;
  color: white;
  border-radius: 8px;
}

.submit > button:hover {
  cursor: pointer;
}

.submit a:link,
.submit a:visited {
  color: #596D48;
  font-weight: bold;
}

.submit a:hover {
  text-decoration: none;
}

